doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p
      p 
      a(href='/') home
      p
      a(href='/discovery') discovery
      p
      a(href='/tagging') tagging
