doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    ul.nav
      li 
        a(href='/') Home
      li
        a(href='/discovery') Discovery
      li
        a(href='/tagging') Tagging
      li
        a(href='/apidoc') API
    block content
    
