extends layout

block content
  script(type='text/javascript', src='/js/jquery-2.2.3.js')
  script(type='text/javascript', src='/javascripts/tagging-view-geolocation.js')
  
  form#locationForm(method='post')
    p
      label Latitude: 
      input#inputLatitude(name='latitude', class='latitudeInput', type='text')
    p
      label  Longitude: 
      input#inputLongitude(name='longitude', class='longitudeInput', type='text')
    p
      button(id='btnInit') Find my location
    p
      label Name: 
      input#inputName(name='name', class='nameInput', type='text')
    p
      label Hashtag: 
      input#inputHashtag(name='hashtag', class='hashtagInput', type='text')
  p
    button#btnSubmit Submit
