extends layout

block content
  script(type='text/javascript', src='/js/jquery-2.2.3.js')
  script(type='text/javascript', src='/javascripts/tagging-view-geolocation.js')
  
  form(method='post', id='messageForm')
    p
      label latitude: 
      input#inputLatitude(name='latitude', class='latitudeInput', type='text')
      label  longitude: 
      input#inputLongitude(name='longitude', class='longitudeInput', type='text')
      button(id='btnInit') Find my location
    p
      label name: 
      input#inputName(name='name', class='nameInput', type='text')
    p
      label hashtag: 
      input#inputHashtag(name='hashtag', class='hashtagInput', type='text')
    p
      button(type='submit', value='Submit') Submit
