extends layout

block content
  form(method='post', action='http://localhost:3000/users/messages/peter', id='messageForm')
    p
      label latitude: 
      input(name='latitude', class='latitudeInput', type='text')
    p
      label longitude: 
      input(name='longitude', class='longitudeInput', type='text')
    p
      label name: 
      input(name='name', class='nameInput', type='text')
    p
      label hashtag: 
      input(name='hashtag', class='hashtagInput', type='text')
    p
      button(type='submit', value='OK') OK
    script(type='text/javascript', src='/javascripts/hello.js')
