body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a {
  color: #00B7FF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
ul.list {
  list-style: armenian;
  list-style-type: disc;
  list-style-position: inside;
  padding: 20px;
  background-color: #fff;
  overflow: auto;
  display: block;
}

li.list {
  float: none;
  background-color: #fff;
  color: #82C2D6;
  padding: 8px;
  display: block;
}
ul.list li.list {
  background-color: #fff;
  padding: 8px;
  display: block;
  margin: 5px;
}

form {
  margin-left: 50px;
  display: block;
  width: 250px;
}
p input {
  display: block;
  margin-top: 10px;
  width: 132px;
}
p label {
  width: 20px;
}

button {
  position: relative;
   display: block;
   padding: 0;
   min-width: 132px;
   min-height: 32px;
   width: auto;
   height: auto;

   overflow: hidden;

   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

   background-color: #333;
   color: #ecf0f1;
   transition: background-color .3s;
}
button:hover, .btn:focus {
  background-color: #27ae60;
}

button > * {
  position: relative;
}

button span {
  display: block;
  padding: 12px 24px;
}

button:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: #333;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}
.input {
  width: 400px;
}
#inputSearch {
  float: left;
  margin-right: 10px;
  height: 32px;
}
#btnSearch {
  padding: inherit;
  display: inline;

}
